/* Estilos para el contenedor del enlace de "Olvidaste tu contraseña" */
.forgot-password-container {
    display: flex; /* Utilizar Flexbox para el contenedor */
    justify-content: flex-end; /* Alinear el contenido al final (derecha) del contenedor */
}

/* Estilos para el enlace de "Olvidaste tu contraseña" */
.forgot-password-link {
    color: black!important; /* Color del texto en negro */
    opacity: 1; /* Opacidad completa por defecto */
    transition: opacity 0.3s ease; /* Transición suave en el cambio de opacidad */
}

/* Estilos para el enlace cuando está en hover */
.forgot-password-link:hover {
    opacity: 0.7; /* Opacidad más transparente en el hover */
}
